* {
    margin: 0;
    padding: 0;  
}

body {
    font-family: sans-serif;
    background-color: #fff;
    
}

/* Home Page Style Sheet */

.header {
    background-color: DarkSalmon;
    color: white;
}

.header h1 {
    text-align: center;
    letter-spacing: 20px;
    font-size: 45px;
}

/* Navigation bar Start */
.nav-bar {
    margin: 30px 0;
}

.nav-bar ul {
    list-style-type: none; /* Removes bullet points */
    margin: 0;
    padding: 0;
    padding: 14px 0;
}

.nav-bar li {
    display: inline;
}

.nav-bar li a {
    letter-spacing: 3px;
    text-decoration: none; /* Removes text underline */
    color: black;
    padding: 14px 16px;
}

.nav-bar li a:hover {
    background-color: coral;
}
/* Navigation bar END */

.landing-container {
    width: 100%;
    float: left;
}

.landing-image{
    width: 50%;
    float: right;
}

.landing-image img {
    width: 100%;
    opacity: 0.6;
}

.landing-text{
    width: 49%;
    height:59%;
    float: left;
}

.landing-text h1 {
    letter-spacing: 10px;
    font-size: 72px;
}

.landing-text h3 {
    margin: 30px 0 ;
    letter-spacing: 10px;
    font-size: 35px;
}

.btn-landing {
    width: 120px;
    height: 50px;
    background: #F2994A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F2C94C, #F2994A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F2C94C, #F2994A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: none;
    font-size: 15px;
    letter-spacing: 2.5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* INDEX CONTENT START*/

.img{
    display: inline-block;
}

.recipe-card {
    width: 25%;
    height: 50%;
    background-color: #F2F2F2;
    display: inline-block;
    margin-left: 6%;
}

.recipe-card img{
    width: 100%;
    height: 70%;
}

.card-text {
    padding: 20px 10px;
    text-align: center;
}

.card-label {
    font-size: 12px;
    color: lightcoral;
    letter-spacing: 2.5px;
}

.card-header{
    padding: 5px 0;
    letter-spacing: 2px;
}

/* INDEX CONTENT END */

footer {
    text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
    color: white;
  }
